
#header {
  
  /* Outside of header */ 
  background-image: none;
  
}
#header > .section {
  
  /* Header */
  
}
#main-wrapper {
  
  /* Outside of main */
  
}
#main {


}
#breadcrumb {

    margin-top: .5em;
    margin-bottom: .5em;

}
.tabs {
  
  padding-top: .5em;
  margin-bottom: 0;
  
}
