
.colorbox-inline {
}

#colorbox {
  background-color: white;
  border: 4px solid tan;
  border-radius: 18px;
  padding: 2em;
}

a.start-link {
  font-size: 2em;
  font-weight: bold;
}
a.start-link:link,
a.start-link:visited {
}

.olcwebpicbook-pager a {
  background-color: #cccccc;
  border-radius: 1em;
  width: 1em;
  height: 1em;
  display: inline-block;
  text-align: center;
  padding: .25em;
  color: black;
  line-height: 1em;
  overflow: visible;
  white-space: nowrap;
}

